In [2]:
import pandas as pd 
import numpy as np 
import re
import os
from datetime import date  
import func_timeout

In [3]:
# pip install func_timeout

In [4]:
dfad = pd.DataFrame(pd.read_excel("Voting Data Set.xlsx",sheet_name="admin"))
dfvo = pd.DataFrame(pd.read_excel("Voting Data Set.xlsx",))

In [5]:
dfvo.drop(["Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7"],axis=1,inplace=True)

In [6]:
dfvo.set_index("Voter ID",inplace=True)

In [7]:
dfad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Admins         10 non-null     object
 1   Admins ID      10 non-null     object
 2   Admis Pasword  10 non-null     object
dtypes: object(3)
memory usage: 368.0+ bytes

In [8]:
# dfad.set_index("AdminsID")

In [9]:
dfad

               Admins  Admins ID  Admis Pasword
0       Jithender Babu      AD001       ADM1009
1         Vishal Ramde      AD002       ADM1010
2  Naveen Kumar Dalmia      AD003       ADM1011
3           Janaki Ram      AD004       ADM1012
4     Dhananjay Sahani      AD005       ADM1013
5             Premjeet      AD006       ADM1014
6               vacant      AD007       ADM1015
7       Ankur Bhardwaj      AD008       ADM1016
8       Vacant Asm Rom      AD009       ADM1017
9   Vacant Asm Central      AD010       ADM1018

In [10]:
dfvo

               Voter Name Voter's Pasword
Voter ID
C1000       Thomas Duncan          EMP1009
C1001        Kenneth Ross          EMP1010
C1002         Henry Reyes          EMP1011
C1003     Benjamin Carter          EMP1012
C1004      Jeremy Schmidt          EMP1013
...                   ...              ...
C1796       Bobby Coleman          EMP1017
C1797          Jason Ross          EMP1036
C1798        Shawn Torres          EMP1004
C1799      Michael Austin          EMP1031
C1800        Mark Simmons          EMP1028

[801 rows x 2 columns]

In [11]:
# idee = input("Enter 1 for Voter 2 for Admin")

# if idee=="1" :
    # admins()

In [12]:
# ss = int(input("Selet 1 for admin, 2 for Voter"))

# if ss== 1 :
#     print("Admin's function") 
# elif ss == 2 :
#         print("Voter's Function ")

# Admin Function

In [50]:
# # pasword unction 
# A_id = input("Enter ID")
# A_pasword = input("Enter Pasword")

# if A_id=="Hii " and  A_pasword==12311 :
#     print("You are in Welcom")

In [51]:
dfad

               Admins  Admins ID  Admis Pasword
0       Jithender Babu      AD001       ADM1009
1         Vishal Ramde      AD002       ADM1010
2  Naveen Kumar Dalmia      AD003       ADM1011
3           Janaki Ram      AD004       ADM1012
4     Dhananjay Sahani      AD005       ADM1013
5             Premjeet      AD006       ADM1014
6               vacant      AD007       ADM1015
7       Ankur Bhardwaj      AD008       ADM1016
8       Vacant Asm Rom      AD009       ADM1017
9   Vacant Asm Central      AD010       ADM1018

In [20]:
# # admins privilage 
# ad_p = input("1 for creating campaign, 2 for Adding Candidates , 3 for Publioshing Result ")

# if ad_p== "1" :
#     print("campaign Cration")
# elif ad_p=="2" :
#     print("Adding Candidats")
# elif ad_p=="3" :
#     print("Puclishing Result")
# else :
#     print("Trt again")

In [21]:
# func_timeout.func_timeout(100,)

# Initialize the campaign function

In [53]:
# campaign 
def campaign_p () : 
    global d_campaign 
    d_campaign = {'campaign_ID': [], 'campaign_name': [], 'str_date': [], 'end_date': []}
    while True:
        i_campaign_ID = input("Enter campaign_ID: ")
        i_campaign_name = (input("Enter campaign_name: "))

        s_y = int(input("Enter Starting year"))
        s_m = int(input("Enter Starting month"))
        s_d = int(input("Enter Starting day"))

        i_srt_date = date(s_y,s_m,s_d)

        e_y = int(input("Enter ending year"))
        e_m = int(input("Enter endting month"))
        e_d = int(input("Enter endting day"))

        i_end_date = date(e_y,e_m,e_d)


        d_campaign["campaign_ID"].append(i_campaign_ID)
        d_campaign["campaign_name"].append(i_campaign_name)
        d_campaign["str_date"].append(i_srt_date)
        d_campaign["end_date"].append(i_end_date)



        choice = input("Do you want to add more values? (y/n): ")
        if choice.lower() == 'n':
            break
    global f_campaign
    f_campaign = pd.DataFrame(d_campaign)

In [59]:
campaign_p()

Enter campaign_ID:  0111
Enter campaign_name:  mla
Enter Starting year 2023
Enter Starting month 2
Enter Starting day 2
Enter ending year 2023
Enter endting month 2
Enter endting day 20
Do you want to add more values? (y/n):  n

In [60]:
f_campaign

  campaign_ID campaign_name    str_date    end_date
0        0111           mla  2023-02-02  2023-02-20

# Casting voting

In [30]:
# V_candidat = {"jaya" : 0, "minal": 0}

In [46]:
# def cast_vote() :
    
#     global V_candidat 
    
#     V_candidat = {"jaya" : 0, "minal": 0}
    
#     for i in "1" :
#         vote_for = input("1 for jaya , 2 for minal")
#         if vote_for == "1" :
#             V_candidat["jaya"]=V_candidat["jaya"]+1 
#         else :
#             V_candidat["minal"]=V_candidat["minal"]+1
            
#     return V_candidat